body {
    background-color: black; /* цвет фона */
    color: aliceblue; /* цвет текста */

}
.dobrovo {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
    color: aliceblue;
}
.Myname {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:large;
    color: aliceblue;
}
.time {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:large;
    color: aliceblue;
}
.skelet {
    float:left;
}
.time1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:large;
    color: aliceblue;
}
.time2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:x-large;
    color: aliceblue;  
}
.after{
    padding:50px;
    background-image:url("back1.png");
    color: aliceblue;
}
div{
    width: 50px;
    height:50px;
    background: firebrick;
    transition: width 3s;
}
div:hover {
    width:500px;
}
.last1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:medium;
    color: black;
}
.time3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:x-large;
    color: aliceblue;
    padding-left: 400px;
}